<app-titulo [titulo]="'Candidatos'"></app-titulo>

<div class="card rounded shadow-sm p-3">

  <div class="d-flex justify-content-between mb-3">
    <a class="d-flex btn btn-outline-primary" (click)="reiniciarVotacao()">
      <i class="fa fa-plus-circle my-1"></i>
      <b class="ml-1 d-none d-sm-block">Reiniciar Votação</b>
    </a>

    <a class="d-flex btn btn-outline-primary" routerLink="../cadastroCandidato">
      <i class="fa fa-plus-circle my-1"></i>
      <b class="ml-1 d-none d-sm-block">Novo</b>
    </a>
  </div>

<table class="table table-striped">
  <thead class="thead table-dark">
    <tr>
      <th>N° Candidato</th>
      <th>Nome</th>
      <th>Vice</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="candidatos && candidatos.length">
    <tr *ngFor="let candidato of candidatos"  style="cursor: pointer;">
      <td>{{ candidato.legendaId }}</td>
      <td>{{ candidato.nome }}</td>
      <td>{{ candidato.nomeVice }}</td>
      <td>
        <button type="button" class="btn btn-danger btn-sm" (click)="openModal($event, template, candidato.legendaId)">
          <i class="fa fa-trash"></i>
          Deletar
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!candidatos.length">
    <tr>
      <td colspan="8" class="text-center">
          <h3>Nenhum candidato encontrado!</h3>
      </td>
    </tr>
  </tfoot>
</table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Você quer deletar candidato?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>



