
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation" routerLinkActive="active">
    <a class="nav-link" id="votacao-tab" data-toggle="tab" routerLink="votacao" role="tab" aria-controls="votacao" aria-selected="false">Votação</a>
  </li>
  <li class="nav-item" role="presentation" routerLinkActive="active">
    <a class="nav-link" id="candidatos-tab" data-toggle="tab" routerLink="candidatos" role="tab" aria-controls="candidatos" aria-selected="false">Candidatos</a>
  </li>
  <li class="nav-item" role="presentation" routerLinkActive="active">
    <a class="nav-link" id="apuracao-tab" data-toggle="tab" routerLink="apuracao" role="tab" aria-controls="apuracao" aria-selected="false">Apuração</a>
  </li>
</ul>
<!-- <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"></div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="votacao-tab"></div>
  <div class="tab-pane fade" id="candidatos" role="tabpanel" aria-labelledby="candidatos-tab"></div>
</div> -->

